
*{
padding:0;margin:0;box-sizing:border-box;
}
:root {
  --baseColor: #070707;
 --whiteColor:#fff;
   
  --bgrndColor: aqua;
  --hmeColor:#ffff9c;
  --borderColor:darkmagenta;
}
html,body,#root { width: 100%; height: 100%; }
body {
  margin: 0;
  font-family: "Adobe Arabic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem; color: var(--baseColor); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
